body {
  background-color:oldlace;
  font-family:'Lato', sans-serif;
  color: rgba(72, 72, 72, 0.8);
  font-size: 30px;
  line-height: 50px;
  margin: 10px 0 0 0;
}

h1, h3 {
  color: rgba(60, 60, 60, 1);
  font-family:'Oxygen', sans-serif;
}

h1 {
  font-size: 40px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 25px;
  color: rgba(75, 75, 75, 1);
  font-family:'Oxygen', sans-serif;
}

ul {
  list-style: none;
  padding-left: 0px;
}

li {
  display: inline-block;
  margin: 0 20px 0 20px;
}

footer {
  font-size: 20px;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  line-height: 25px;
}

footer p {
  margin: 10px;
}

table {
  margin: 0 auto 20px auto;
}

th {
    border-bottom: 1px solid rgba(72, 72, 72, 0.5);
}

tr {
  margin: 0 auto;
}

td, th {
  width: 600px;
  padding: 15px 50px;
  text-align: center;
  vertical-align: middle;
}

a {
  color: rgba(72, 72, 72, 0.5);
  text-decoration: none;
}

td a {
  padding: 8px 10px;
  border: 1px solid rgba(72, 72, 72, 0.5);
  border-radius: 5px;
}

a:hover {
  color: lightcoral;
}

td a:hover {
  border-color: lightcoral;
}

#profile {
  max-height: 300px;
  border-radius: 50%;
}

#wagon {
  border-radius: 50%;
  max-height: 60px;
}

#first-content {
  margin-top: 200px;
  line-height: 50px;
}

#first-content h1, #first-content h3 {
  padding: 10px 0;
}

.table-img {
  max-height: 250px;
  max-width: 500px;
  box-shadow: 2px 2px 2px lightgray;
}

.container {
  width: 2450px;
  margin: 0 auto;
}

.card {
  width: 2200px;
  margin: 50px auto 20px auto;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 2px 2px 2px lightgray;
}

.first {
  background-image: linear-gradient(rgba(255, 255, 255,0.7) 0%, rgba(255, 255, 255,0.3) 50%), url('images/plant_banner.jpg');
  background-size: cover;
  width: 2400px;
  margin-top: 0;
  -webkit-animation: fadein 5s;
  -moz-animation: fadein 5s;
  animation: fadein 5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.second-fade {
  -webkit-animation: fadein 12s;
  -moz-animation: fadein 12s;
  animation: fadein 12s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fab {
  font-size: 50px;
}

@media (max-width: 2000px) {
  footer, .card {
    width: 1800px;
  }
  .container {
    width: 1900px;
  }
  .first {
    width: 1850px;
  }
}

@media (max-width: 1500px) {
  footer, .card {
    width: 1400px;
  }
  .container {
    width: 1450px;
  }
  .first {
    width: 1400px;
  }
}

@media (max-width: 1000px) {
  footer, .card {
    width: 900px;
  }
  .container {
    width: 950px;
  }
  .first {
    width: 900px;
  }
  td, th {
    width: 250px;
  }
  .table-img {
    max-width: 300px;
  }
}
